<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeahvior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBeahvior" name="PlayerStatsService.PlayerStatsService">
        <endpoint address="" binding="basicHttpBinding"
          bindingConfiguration="" contract="PlayerStatsService.IPlayerStatsService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:63063/PlayerStatsService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>